$modal-background: rgba(0, 0, 0, 0.5);
$modal-content-background: #fff;
$modal-transition-duration: 0.3s;

$borderRadius: 10px;
$spacer: 1rem;
$primary: #027e00;
$text: #6a778e;
$linkHeight: $spacer * 3.5;
$timing: 250ms;
$transition: $timing ease all;